.slider {
    width: 100%;
 
}
body{
    background-image: url('/assets/fondo.png');
    }

a.navbar-brand.letraNav, a.nav-item.nav-link.active.letraNav, a.nav-item.nav-link.letraNav{
    color: #117a8b;
}